/* Enter your custom styles here */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.ttf");
}

.logo {
  width: 125px;
  height: auto;
}

.nomTile {
  display: block;
  padding: 30px;
}

.nomTileTitle,
.nomTileDescription {
  font-family: "Roboto";
  user-select: none;
}
